/* background */
body{
    background-color:black;
}

#width{
    width: 80%;
    margin-left: 10%;
}

.background-gif-div{
    height: 100%;
}

/* header */
h1{
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 45px;
    font-family: 'Barriecito', cursive;
    color: rgb( 255, 128, 128);
    letter-spacing: 10px;

}

/* search box */

/* array buttons */
#gif-buttons-div{
    margin-left: 3%;
    margin-right: 3%;
}

#gif-button{
    margin:0.5%;
}

/* gifs */
.col{
    width: 32%;
    margin: 0;
    display: inline-block;
}



#gif-imgs-div{
    height: 100%;
    padding-bottom: 50%;
    /* padding-top: 50%; */
    /* background-color: blue; */
}

/* #help{
    height:100%;
    padding-top: 50%;
} */